body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* /// ALL PRODUCTS /// */
.allProductsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 2px solid green;
  margin-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
}

.productContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  width: 380px;
}

.filterButtonContainer {
  display: flex;
  justify-content: center;
}

.details {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 10px;
  flex-flow: column wrap;
}

.bookImg {
  height: 420px;
  width: auto;
}

.title {
  font-size: 20px;
  font-weight: 400;
}

.price {
  font-size: 20px;
  color: gray;
}

/* ////SINGLE PRODUCT */
.singleProductContainer {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-around;
  padding: 10px 10px;
  margin: 10px 0;
  width: 70%;
  background-color: pink;
}

.navbar {
  display: flex;
  justify-content: space-between;
}
