body {
  margin-top: 50px;
  font-family: Comfortaa;
  font-size: 16px;
  padding: 16px;
  padding-top: 50px;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

.homeImg {
  display: flex;
  justify-content: center;
}

.homeImg > img {
  width: 75%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(45deg, #336699, #f4f3ee);
  position: fixed;
  top: 0px;
  width: 100%;
  left: 0px;
  z-index: 1;
}

.navbar a {
  color: #f2f2f2;
  text-align: right;
  padding: 3px;
  text-decoration: none;
}

.navbar a:hover {
  color: black;
}

.titleNav {
  margin-right: 150px;
  margin-left: 50px;
}

.navcomponent {
  flex-wrap: nowrap;
  text-align: right;
  align-self: center;
  justify-self: flex-end;
  float: right;
  margin-left: 50px;
}

/* nav a {
  display: inline-block;
  margin: 1em;
} */

form div {
  margin: 1em;
  display: inline-block;
}

/* /// ALL PRODUCTS /// */
.allProductsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 60px;
  padding-left: 100px;
  padding-right: 100px;
}

.productContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  width: 450px;
  border-radius: 20px;
  justify-content: space-between;
  padding: 20px;
  background-color: gainsboro;
  box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.56);
}

.allProductsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filterButtonContainer {
  display: flex;
  margin: 10px;
  margin-top: 20px;
  justify-content: space-around;
  width: 50%;
}

.details {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 10px;
  flex-flow: column wrap;
}

.bookImg {
  height: 420px;
  width: auto;
}

.title {
  font-size: 20px;
  font-weight: 400;
}

.price {
  font-size: 20px;
  color: gray;
}

.filter {
  margin: 10px;
}

/* ////SINGLE PRODUCT */
.singleProductWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 960px;
}
.singleProductContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 10px;
  width: 50%;
  margin-top: 100px;
}

.singleBookImg {
  height: 100%;
  width: auto;
  box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.56);
}

.singleProductInfo {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 30px;
  height: 100%;
  margin-left: 50px;
  padding-right: 20%;
  margin: 10px 50px;
}

.buyContainer {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.buyButton {
  margin-top: 30px;
}

.wrapperForCart {
  width: 20px;
}

.itemsInCart {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  width: 26px;
  height: 26px;
  padding: 1px;
  position: absolute;
  right: 10px;
  margin-top: -60px;
  font-size: 20px;
}

.checkoutPathContainer {
  display: flex;
  padding: 2em;
}

.returningCustomerContainer {
  width: 70%;
}

.newCustomerContainer {
}

.adminButton {
  background-color: black;
  color: white;
}

.containerForAdminButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addProductContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid red; */
}

#quantity-container {
  display: flex;
}

.cart-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
}

.cartItemContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  width: 500px;
  border-bottom: 1px solid #5c677d;
}

.cart-book-img {
  height: 100px;
}
